---
import Post from "@/layout/Post.astro"
import { Image } from "astro:assets"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
	const posts = await getCollection("posts")
	return posts.map(post => ({
		params: { slug: post.slug },
		props: post,
	}))
}

const post = Astro.props
const { Content } = await post.render()
---

<Post title={post.data.title} description={post.data.description}>
	<aside class="mx-auto max-w-[780px] mb-10">
		<a href="/posts" class="bg-white font-medium rounded-lg py-2 px-3"
			>&#8592; {/* ← Левая стрелка */} Назад к статьям</a
		>
	</aside>

	<main class="prose-aiz">
		<!-- <Image
			src={post.data.img}
			alt={`изображение поста: ${post.data.title}`}
			quality={10}
			format={"webp"}
			class="rounded-xl object-cover"
		/> -->
		<h1>{post.data.title}</h1>
		<p class="text-sm text-zinc-600 italic">{post.data.description}</p>
		<Content />
	</main>
</Post>
