---
import Article from "@/components/blocks/Article.astro"
import Tags from "@/components/Tags.astro"
import Layout from "@/layout/Layout.astro"
import Search from "astro-pagefind/components/Search"
import { getCollection } from "astro:content"
const posts = await getCollection("posts")
export const prerender = false

const q = Astro.url.searchParams.get("q") ?? undefined
---

<Layout
	title="Архив"
	desc="Архив АИЗ. Полезная информация, методы шагов, инструменты и прочее."
>
	<Tags />
	<Search query={q} />

	<div class="md:grid-cols-2 gap-5 grid grid-cols-1">
		{
			posts &&
				posts
					.filter(post => post.data.favorite === true)
					.slice(0, 2)
					.map(post => <Article favorite slug={post.slug} data={post.data} />)
		}
	</div>

	<div class="grid md:grid-cols-2 grid-cols-1 gap-5">
		<!-- filter(post => post.data.favorite !== true) -->
		{
			posts &&
				posts
					.filter(post => post.data.favorite !== true)
					.sort(
						(a, b) =>
							new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
					)
					.map(post => <Article slug={post.slug} data={post.data} />)
		}
	</div>
</Layout>
