---
import { getCollection } from "astro:content"
import { getEntry } from "astro:content"
import Layout from "../layout/Layout.astro"

export const prerender = false;

const plusParam = Number(Astro.url.searchParams.get("plus") || '0');
const minusParam = Number(Astro.url.searchParams.get("minus") || '0');

const currentParam = plusParam - minusParam

let plusLink
if (minusParam === 0) {
  plusLink = "?plus=" + (currentParam + 1) 
} else {
  plusLink = "?minus=" + (minusParam - 1) 
}
let minusLink
if (plusParam > 0) {
  minusLink = "?plus=" + (plusParam - 1) 
} else {
  minusLink = "?minus=" + (minusParam + 1) 
}

const diary = await getCollection("diary")

const sortedDiary = diary.sort((a, b) =>
							new Date(b.data.when).getTime() - new Date(a.data.when).getTime(),
					).reverse()

const currentDate = new Date()
const currentDay = currentDate.getDate() 
const currentMonth = currentDate.getMonth()

const todayIndex = sortedDiary.findIndex( (a) => 
    (new Date(a.data.when).getDate() === currentDay) && (new Date(a.data.when).getMonth() == currentMonth) 
)

let currentDiary

const realIndex = todayIndex + currentParam
if (realIndex < 0 || realIndex >= sortedDiary.length) {
  // TODO
  currentDiary = sortedDiary.at(0)
} else {
  currentDiary = sortedDiary.at(realIndex)
}

const diaryDate = new Date(currentDiary.data.when)

const dateOptions: object = {
	day: "numeric",
	month: "long",
}
const formattedDate = diaryDate.toLocaleDateString("ru-RU", dateOptions)

const entry = await getEntry("diary", currentDiary.slug)
if (entry === undefined) {
  return Astro.redirect("/404")
}
const { Content } = await entry.render();

---

<Layout
	title="Ежедневник"
	desc="Ежедневник АИЗ"
>
  <main class="p-5">
    <aside class="mx-auto max-w-[780px] mb-10">
      <a
        href={minusLink}
        class="text-lg md:ml-10 ml-5 bg-white font-medium rounded-lg py-2 px-3"
        >Предыдущий</a>
      <a
        href={plusLink}
        class="text-lg md:ml-10 ml-5 bg-white font-medium rounded-lg py-2 px-3"
        >Следующий</a>
    </aside>
    <main
      class="mx-auto max-w-[780px] prose lg:prose-lg xl:prose-xl md:prose-md prose-p:text-slate-900 prose-a:text-blue-500 prose-headings:leading-tight prose-p:leading-relaxed prose-a:no-underline prose-zinc bg-white md:p-10 p-5 rounded-2xl"
    >
      <h1>Ежедневник АИЗ</h1>
      <h3>{formattedDate}</h3>
      <h4>{currentDiary.data.title}</h4>
      <h4>{currentMonth}</h4>
      <h4>{realIndex}</h4>
      <Content />
    </main>
  </main>
</Layout>
