---
import { Image } from "astro:assets"
interface Props {
	data: {
		img: string
		title: string
		tags: any
		description: string
		pubDate: string
	}
	slug
	favorite
}

const {
	data: { pubDate, description, title, tags, img },
	slug,
	favorite,
} = Astro.props
---

<a
	href={`/posts/${slug}`}
	class="hover:translate-y-1 transition-all ease-out"
	aria-label={title}
>
	<article class={`bg-white h-full rounded-xl shadow-md shadow-black/5`}>
		<div class="relative">
			{
				favorite ? (
					<div class="absolute top-0 left-0  bg-black/50 backdrop-blur-xl rounded-tl-lg rounded-br-lg px-3 py-1.5 text-white text-sm">
						❤ Избранное
					</div>
				) : (
					""
				)
			}
			<div
				class="absolute text-white bottom-0 rounded-t-lg w-full flex p-2 bg-black/50 backdrop-blur-md flex-wrap gap-2"
			>
				{tags && tags.map(tag => <span class="text-sm ">💡{tag}</span>)}
			</div>
			<div
				class="absolute top-0 right-0 px-2 py-1 bg-white/50 backdrop-blur-md rounded-tr-lg rounded-bl-lg"
			>
				{
					pubDate && (
						<time datetime={pubDate} class="text-sm">
							{new Date(pubDate).toLocaleDateString("ru-RU", {
								year: "numeric",
								month: "short",
								day: "numeric",
							})}
						</time>
					)
				}
			</div>
			{
				img ? (
					<div class="overflow-hidden">
						<Image
							src={img}
							title={title}
							aria-label={title}
							width={800}
							height={800}
							class="rounded-t-xl max-w-full h-[160px] object-cover bg-center "
							alt={`Изображения поста: ${title}`}
							format={"webp"}
							quality={10}
						/>
					</div>
				) : (
					<div class="rounded-xl text-zinc-500 text-lg bg-slate-100 h-[200px] flex justify-center items-center">
						Нет изображения
					</div>
				)
			}
		</div>
		<div class="flex gap-3 flex-col">
			<h3 class="text-xl p-4 line-clamp-3 font-semibold text-balance">{title}</h3>
		</div>
	</article>
</a>
