---
import { Image } from "astro:assets"
interface Props {
	data: {
		img: string
		title: string
		tags: any
		description: string
		pubDate: string
	}
	slug
	favorite
}

const {
	data: { pubDate, description, title, tags, img },
	slug,
	favorite,
} = Astro.props
---

<a
	href={`/posts/${slug}`}
	class="hover:translate-y-1 transition-all ease-out"
	aria-label={title}
>
	<article class="flex flex-col gap-4">
		<div>
			{
				favorite ? (
					<div class="bg-red-50 ring-1 ring-red-300 max-w-fit text-red-700 rounded-xl px-3 py-1.5 text-sm">
						❤ Избранное
					</div>
				) : (
					""
				)
			}
		</div>

		{
			img ? (
				<div class="overflow-hidden">
					<Image
						src={img}
						title={title}
						aria-label={title}
						width={800}
						height={800}
						class="rounded-xl max-w-full h-[180px] object-cover bg-center "
						alt={`Изображения поста: ${title}`}
						format={"webp"}
						quality={10}
					/>
				</div>
			) : (
				<div class="rounded-xl text-zinc-500 text-lg bg-slate-100 h-[200px] flex justify-center items-center">
					Нет изображения
				</div>
			)
		}
		<div class="flex gap-1 items-center">
			{
				tags &&
					tags.map(tag => (
						<span class="text-xs px-3 rounded-full bg-zinc-100 ring-1 ring-zinc-300 py-1">
							{tag}
						</span>
					))
			}
		</div>
		<h3 class="text-2xl tracking-tight line-clamp-3 font-semibold text-balance">
			{title}
		</h3>
		<div class="flex justify-between text-sm text-zinc-600 items-center">
			<span>Написано <b>АИЗ</b></span>
			{
				pubDate && (
					<time datetime={pubDate} class="">
						{new Date(pubDate).toLocaleDateString("ru-RU", {
							year: "numeric",
							month: "short",
							day: "numeric",
						})}
					</time>
				)
			}
		</div>
	</article>
</a>
