---
import { Icon } from "astro-icon/components"
import { getCollection } from "astro:content"
import Container from "./Container.astro"

const [posts, stories, groups] = await Promise.all([
	getCollection("posts"),
	getCollection("story"),
	getCollection("groups"),
])

// Фильтр уникальных групп
const uniqueGroups = groups.filter(
	(item, index, self) => self.findIndex(g => g.data.title === item.data.title) === index,
)

const sections = [
	{
		title: "Архив статей",
		items: posts.slice(0, 6).map(item => ({
			title: item.data.title,
			url: `/posts/${item.slug}`,
		})),
	},
	{
		title: "Личные истории",
		items: stories.map(item => ({
			title: item.data.title,
			url: `/stories/${item.slug}`,
		})),
	},
	{
		title: "Группы",
		items: uniqueGroups.map(item => ({
			title: item.data.title,
			url: `/groups/`,
		})),
	},
]
---

<footer class="py-6 bg-white">
	<div class="py-8">
		<Container class="max-w-6xl mx-auto">
			<div
				class="grid grid-cols-1 md:grid-cols-2 justify-items-center lg:grid-cols-3 gap-12"
			>
				{
					sections.map(section => (
						<div class="flex flex-col gap-3 items-center md:items-start">
							<span class="text-lg text-zinc-700 font-bold">{section.title}</span>
							{section.items.map(({ title, url }) => (
								<a
									href={url}
									class="items-center flex gap-1 md:text-left text-center text-zinc-500"
								>
									{/* <Icon name="mdi:arrow-right-thin" />  */}
									<span>{title}</span>
								</a>
							))}
						</div>
					))
				}
			</div>
		</Container>
	</div>

	<Container
		class="max-w-6xl sm:flex-row flex-col px-5 mx-auto flex items-center justify-between gap-2 md:gap-6 p-3"
	>
		<span>&copy; {new Date().getFullYear()} <b>internetaddicts.ru</b></span>
		<a
			href="https://t.me/legion_free"
			target="_blank"
			class="flex items-center gap-1 text-blue-500"
		>
			<Icon name="mdi:telegram" /><span>Разработчик сайта.</span>
		</a>
	</Container>
</footer>
