---
import { getCollection } from "astro:content"

const posts = await getCollection("posts")
const stories = await getCollection("story")
const groups = await getCollection("groups")
---

<footer class="py-6 bg-zinc-100">
	<div class="py-6">
		<div class="container max-w-6xl px-5 mx-auto">
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-12 gap-6">
				<div class="flex flex-col gap-3 items-center md:items-start">
					<span class="text-lg text-zinc-700 font-bold">Последние посты. Архив</span>
					{
						posts &&
							posts.slice(0, 5).map(item => (
								<a
									href={`/posts/${item.slug}`}
									class="md:text-left text-center text-blue-500"
								>
									{item.data.title}
								</a>
							))
					}
				</div>
				<div class="flex flex-col gap-3 items-center md:items-start">
					<span class="text-lg text-zinc-700 font-bold">Личные истории</span>
					{
						stories &&
							stories.map(item => (
								<a
									href={`/stories/${item.slug}`}
									class="md:text-left text-center text-blue-500"
								>
									{item.data.title}
								</a>
							))
					}
				</div>
				<div class="flex flex-col gap-3 items-center md:items-start">
					<span class="text-lg text-zinc-700 font-bold">Группы</span>
					{
						groups &&
							groups.map(item => (
								<a href={`/groups/`} class="md:text-left text-center text-blue-500">
									{item.data.title}
								</a>
							))
					}
				</div>
			</div>
		</div>
	</div>
	<div class="container max-w-6xl px-5 mx-auto flex items-center justify-center gap-6">
		<span>&copy; {new Date().getFullYear()} <b>internetaddicts.ru</b></span>
	</div>
</footer>
