---
import { getCollection } from "astro:content";
import Link from "./Link.astro";
import Logo from "./Logo.astro";

const posts = (await getCollection("posts")).length;
const story = (await getCollection("story")).length;
const groups = (await getCollection("groups")).length;
const speakers = (await getCollection("speakers")).length;
const news = (await getCollection("news")).length;
---

<header class="py-5 bg-white">
  <div
    class="container max-w-6xl px-5 mx-auto gap-5 flex justify-between items-start md:items-center flex-col sm:flex-row"
  >
    <Logo />
    <nav class="flex gap-2 flex-wrap items-center">
      <Link href="/" style={{ fontWeight: "bold" }}>Главная</Link>
      <Link href="/groups" style={{ fontWeight: "bold" }}>Собрания ({groups})</Link>
      <Link href="/diary" style={{ fontWeight: "bold" }}>Ежедневник</Link>
      <Link href="/posts" style={{ fontWeight: "bold" }}>Статьи ({posts})</Link>
      <Link href="/stories" style={{ fontWeight: "bold" }}>Истории ({story})</Link>
      <Link href="/speakers" style={{ fontWeight: "bold" }}>Спикерские ({speakers})</Link>
      <Link href="/news" style={{ fontWeight: "bold" }}>Новости ({news})</Link>
    </nav>
  </div>
</header>
